* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    width: 100%;
    height: 100%;
    background: rgb(2, 0, 36);
    background: radial-gradient(
        circle,
        rgba(2, 0, 36, 1) 11%,
        rgba(15, 4, 20, 1) 80%
    );
}
